<navbar-secondary></navbar-secondary>
<div class="separator"></div>
<div class="container">
    <div class="col-md-12">
      <h2 class="text-center header-title">Acerca de Servimap</h2>

      <p class="title">Quiénes somos</p>
      <p class="description">Servimap es una comunidad de personas que ofrecen y contratan servicios de forma simple y segura en Argentina. Todos los miembros de la comunidad deben pasar por un proceso de validación, que permite certificar su identidad y reputación. Además, Servimap te permite ver las recomendaciones de amigos sobre muchos de los profesionales y especialistas de la red. En Servimap podés encontrar variedad de servicios</p>

      <p class="title">Visión</p>
      <p class="description">Ser la comunidad de servicios preferida por nuestros Clientes, Profesionales, Empleados, Proveedores y Accionistas en Latinoamérica. </p>

      <p class="title">Misión</p>
      <p class="description">Ser para las personas un puente seguro y confiable, entre la oferta y la demanda de servicios de Latinoamérica. </p>

      <p class="title">Nuestros valores</p>

      <p>1. Ponemos al Cliente en el centro de todo lo que hacemos.<br> 2. Apoyamos a nuestros especialistas a desarrollarse profesionalmente y brindar un servicio de excelencia.<br> 3. Somos y sumamos a nuestro equipo a personas profesionales, comprometidas e íntegras.<br> 4. Trabajamos en equipo, en un ambiente de respeto y profesionalismo. <br> 5. Buscamos mejorar la vida de las personas en Latinoamérica, aumentando la oferta y demanda de servicios seguros y de excelencia.<br> </p>


      <p class="title">¿Alguna pregunta?</p>
      <p class="description">
        Visitá nuestro <a href="/#/faq">FAQ</a> en donde encontrarás preguntas frecuentes o <a href="#/contact">Contactanos!</a>
        <br>

      </p>

    </div>

</div>
<footer-servimap></footer-servimap>
