<navbar-secondary></navbar-secondary>
<!--Questions-->
<section class="" id="question">
  <div class="container">

      <div class="col-lg-10 col-lg-offset-1 text-left">
        <div class="row">
          <h2 class=""><p class="text-center">Preguntas frecuentes</p> </h2>
        </div>
        <div class="col-sm-6 col-md-6">
          <h3><p class="text-center">¿Qué servicios ofrecemos?</p></h3>
          <br>
          <p>Los servicios que ofrecemos son...</p>
        </div>
        <div class="col-sm-6  col-md-6">
          <h3><p class="text-center">¿Cómo contacto y contrato un servicio?</p></h3>
          <br>
          <p>Para contactar y contratar un servicio tenes que...</p>
        </div>
      </div>
      <div class="col-lg-10 col-lg-offset-1 text-left">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <h3><p class="text-center">Pregunta</p></h3>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt labore, beatae assumenda quae rem corporis, laudantium in odit blanditiis quasi laborum consectetur obcaecati, dolore harum minus quidem saepe culpa. Quis!</p>

          </div>
          <div class="col-sm-6 col-md-6">
            <h3><p class="text-center">Pregunta</p></h3>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam excepturi sit natus pariatur consequuntur labore magnam aperiam non iusto itaque cumque iste ipsum, sed molestias! Placeat quia velit dolor doloremque?</p>
          </div>
        </div>
      </div>
    </div>
</section>
<footer-duty-map></footer-duty-map>
