<navbar-secondary></navbar-secondary>
<!--Questions-->

<section class="faq-section" id="question">

  <div class="faq-box">
    <p class="text-center faq-title">Preguntas frecuentes</p>

  </div>

  <div class="container">

    <div class="col-lg-10 col-lg-offset-1 text-left">
      <div class="col-sm-6  col-md-6">
        <p class="text-center question">¿Qué es Dutymap?</p>
        <br>
        <p class="question-answer">Dutymap es una aplicación para buscar y contratar servicios cercanos a tu zona. Una de las ventajas es que podés elegir según el feedback que el proveedor haya recibido y saber el costo de su trabajo</p>
      </div>

      <div class="col-sm-6 col-md-6">
        <p class="text-center question">¿Cómo evalúo al proveedor que realizó el trabajo?</p>
        <br>
        <p class="question-answer">Una vez concretado el trabajo, marca que el trabajo está terminado, luego podrás calificar y opinar sobre cómo el proveedor desempeñó su trabajo.</p>
      </div>
    </div>

      <div class="col-lg-10 col-lg-offset-1 text-left">
        <div class="col-sm-6  col-md-6">
          <p class="text-center question">¿Cómo contrato un servicio?</p>
          <br>
          <p class="question-answer">Para contactar y contratar un servicio tenés que buscar el servicio que necesitás
            mediante nuestro buscador, elegir al proveedor que más te guste y seleccionar en 'Contratar'. Para que decidas a quién elegir podés fijarte su feedback recibido y el precio por hora.</p>
        </div>

        <div class="col-sm-6 col-md-6">
          <p class="text-center question">¿Cómo ofrezco un servicio?</p>
          <br>
          <p class="question-answer">Para ofrecer tus servicios primero tenés que registrarte como proveedor <a
            href="/#/registro">aquí</a>, una vez registrado ya podés empezar a ofrecer tus servicios!</p>
        </div>
      </div>
      <div class="col-lg-10 col-lg-offset-1 text-left">
          <div class="col-sm-6 col-md-6">
            <p class="text-center question">¿Qué servicios ofrecemos?</p>
            <br>
            <p class="question-answer">Actualmente ofrecemos los siguientes servicios:</p>
          </div>

          <div class="col-sm-6 col-md-6">
            <p class="text-center question">¿Es gratis contratar servicios por Dutymap?</p>
            <br>
            <p class="question-answer">Si! Es totalmente gratis, podés buscar y contratar todos los servicios que quieras sin cargo.</p>
          </div>
      </div>
    </div>
</section>
<footer-dutymap></footer-dutymap>

