<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <div class="row col-md-offset-2 col-md-8 text-center">
            <div class="homepage-footer-share-buttons"> <a href="https://www.facebook.com/Infobae/" target="_blank" class="homepage-footer-button" ></a>
              <hr/>

              <a href="/#"><img width="20%" height="10%" src="images/Logo-DutyMap-original.png" alt="logo"></a>

              <div class="col-md-12">
             <a><i class="fa fa-facebook" aria-hidden="true"></i>  </a>
              <a href="https://www.twitter.com/Infobae/" class="homepage-footer-button" target="_blank">
              <i class="fa fa-twitter" aria-hidden="true"></i> </a> <a href="https://www.infobae.com/" class="homepage-footer-button " target="_blank">
              <i class="fa fa-rss" aria-hidden="true"></i> </a> <a href="https://www.instagram.com/Infobae/" class="homepage-footer-button" target="_blank">
              <i class="fa fa-instagram" aria-hidden="true"></i> </a> <a href="https://www.youtube.com/c/infobae" class="homepage-footer-button " target="_blank">
              <i class="fa fa-youtube-play" aria-hidden="true"></i> </a> <div class="clear"></div> </div> <aside class="header-label footer-nav-item logo-holder">
            <img src=""> </aside> <aside class="header-label footer-nav-item company-name"> Todos los derechos reservados © 2016 DutyMap </aside>
            </div>

            <hr/>
          </div>
      </div>

      <div class="row footer">
            <div class="row col-md-offset-2 col-md-8">
            <div class="footer-nav has-sub col-sm-3 col-xs-12">
            DutyMap
              <ul class="footer-sub-nav">
                <li class="footer-sub-nav-item header-label">Quienes Somos</li>
                <li class="footer-sub-nav-item header-label">Acerca de DutyMap</li>
                <li class="footer-sub-nav-item header-label">Preguntas Frecuentes </li>
              </ul> </div>
            <div class="footer-nav has-sub col-sm-3 col-xs-12">
             Legal
              <ul class="footer-sub-nav">
                <li class="footer-sub-nav-item header-label"> Términos y Condiciones</li>
                <li class="footer-sub-nav-item header-label"> Política de Privacidad</li>
              </ul>
          </div>
            <div class="footer-nav has-sub col-sm-3 col-xs-12">
             Contáctenos
              <ul class="footer-sub-nav">
                <li class="footer-sub-nav-item header-label"> Contacto          </li>
                <li class="footer-sub-nav-item header-label"> FAQ </li>
            </ul>
            </div>
            <div class="footer-nav has-sub col-sm-3 col-xs-12">
              Redes Sociales
              <ul class="footer-sub-nav">
                <li class="footer-sub-nav-item header-label"> Facebook </li>
                <li class="footer-sub-nav-item header-label"> Twitter </li>
                <li class="footer-sub-nav-item header-label"> Instagram</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
</footer>
