<footer>
  <div class="container-fluid">
    <div class="row">
      <!--<div class="col-md-11 col-md-offset-1">-->
        <!--<div class="col-lg-12 col-md-12 c col-xs-12 footer-margin">-->
      <div class="col-md-12">
        <div class="col-md-10 col-md-offset-1 col-xs-12 footer-margin">
          <div class="col-md-3 col-xs-4">
            <div><b>Acerca de</b></div>
            <div><span>DutyMap</span></div>
            <div><span>Términos y condiciones</span></div>
            <div><span> Políticas de privacidad  </span></div>
          </div>
          <div class="col-md-2 col-xs-4">
            <div><b>Ayuda</b></div>
            <div><span>Publica tus servicios</span></div>
            <div><span>Adquiri un servicio</span></div>
          </div>
          <div class="col-md-2 col-xs-4">
            <b>Mi Cuenta</b>
            <div><span>Publica tus servicios</span></div>
            <div><span>Adquiri un servicio</span></div>
          </div>
          <div class="col-md-2 col-xs-4">
            <div><b>Seguinos</b></div>
              <div><i class="fa fa-facebook"> | </i><span>Facebook</span></div>
              <div><i class="fa fa-twitter"> | </i><span>Twitter</span></div>
              <div><i class="fa fa-instagram"> | </i><span>Instagram</span></div>
          </div>
          <div class="col-md-3 col-xs-2">
            <b>Contacto</b>
            <div><i class="glyphicon glyphicon-earphone"></i><span>(011) 4444-4444</span></div>
            <div><i class="glyphicon glyphicon-map-marker"></i><span>Buenos Aires,Argentina.</span></div>
            <div><i class="glyphicon glyphicon-envelope"> </i><span> dutymap@gmail.com</span></div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-xs-12 text-center">
          <!--<img src="../images/logoicon.png" width="70px" height="70px">-->

          <hr class="small">

          <p class="text-muted">Copyright &copy; Dutymap 2016</p>
      </div>
    </div>
  </div>
</footer>
