<navbar-secondary></navbar-secondary>
<div class="container-fluid">

  <div ng-show="toUser.idUser == null" class="text-center">
    <div class="col-sm-6 col-sm-push-3 text-center not-found" ng-show="user.idUser == null">
      <div>
        <i class="fa fa-bullhorn fa-5x text-dutymap" aria-hidden="true"></i>
      </div>
      <div>
        <h4 class="text-dutymap"><b>Psss! No hemos encontrado a ningún proveedor para que puedas contratarlo, intenta de nuevo<br><br>
          <a href="/#/" class="btn logo-color-bg ">Volver a inicio</a>
        </b></h4>
      </div>
    </div>
  </div>

  <div ng-hide="toUser.idUser == null">

  <div ng-show="!confirm" class="col-md-12 padding-tam3">
    <!--Datos del usuario y acuerdos de fecha-->
    <div class="col-md-12">
      <p class="text-center header-title">Contratar a <span ng-bind="toUser.fullName"></span></p>
      <p class="text-center header-subtitle" ng-bind="mainWork.name"></p>
    </div>

    <div class="col-sm-9 col-md-9">

      <div class="col-md-12 padding-tam1" >
          <p class="hire-description">Descripción del trabajo </p>
          <p ng-bind="mainWork.description" class="padding-tam2"></p>
      </div>

      <div class="col-md-12 padding-tam1" >
        <p class="hire-description">Lugar del trabajo</p>
        <p ng-if="mainWork.address != null" ng-bind="mainWork.address.street + ' ' + mainWork.address.number + ' - ' + mainWork.address.district.name" class="padding-tam2"></p>
        <p ng-if="mainWork.address == null" class="padding-tam2">Será el acordado con el proveedor</p>
      </div>

      <div class="col-md-12 padding-tam1 col-xs-12">
          <p class="hire-description">¿Cual es tu problema?</p>
        <div class="col-md-12">
          <textarea class="form-control" ng-model="textProblem" style="width:70%; color:black;"></textarea>
        </div>
      </div>
        <div class="col-md-12 col-xs-12 padding-tam5">
          <p class="hire-description">El domicilio donde se concretara el trabajo:</p>
          <input ng-model="domicilio" name="newdomicilio" style="width:50%;" id="newdomicilio" />
        </div>
        <div class="col-md-12 col-xs-12 padding-tam5">
          <p class="hire-description">Elige que día y horario que quieres concretar el servicio</p>
          <adm-dtp ng-model='date' full-data='date_details' options='{calType: "gregorian", format: "YYYY/MM/DD hh:mm", default: "today"}'  mindate="{{unixDate}}" >
            <input type='text' ng-model='date' dtp-input />
            <button dtp-open class="btn logo-color-bg ng-binding ng-scope">Calendario</button>
          </adm-dtp>
        </div>

      <div class="col-md-12 col-xs-12">
        <small><i class="glyphicon glyphicon-warning-sign" style="color:red;"> </i> ACLARACIÓN : </small>
        <small>Luego de confirmar la contratación puedes modificar la fecha y horario con el proveedor. </small>
      </div>
    </div>
     <!--Confirmar servicio-->
    <div class="col-sm-3 col-xs-12 confirm-section">
      <p class="text-center image-profile ">
        <img class="img-circle" ng-src="data:image/png;base64,{{toUser.photo}}" alt="">
      </p>

      <p class="hire-data" style="text-align: center">Contrata su servicio</p>
      <p><span>Nombre : </span><span ng-bind="toUser.fullName"></span></p>
      <p><span>Servicio : </span><span ng-bind=" mainWork.name"></span></p>
      <p><span><small><i class="	Try it
glyphicon glyphicon-info-sign"> </i> Obtene mas informacion contratando este servicio</small></span></p>
      <div class="row hire-prices">
        <div class="col-xs-6 col-md-8 hire-amount ">
          <p class="">Precio por hora</p>
        </div>
        <div class="col-xs-6 col-md-4 ">
          <p>Desde $<span ng-bind="mainWork.price"></span></p>
        </div>
      </div>
         <button type="submit" ng-click="confirmTransaction(transaction)" class="btn logo-color-bg confirm-button">Confirmar</button>
    </div>
  </div>

  <!--Seccion datos confirmados-->
  <div ng-show="confirm">
      <div class="col-md-12 padding-tam3">
          <p class="confirmated-text text-center">Has contratado a <span ng-bind="toUser.fullName"></span> correctamente!</p>
          <p class="text-center image-profile padding-tam4">
            <img class="img-circle " ng-src="data:image/png;base64,{{toUser.photo}}" alt="">
            <div class="profile-rating">
            <p class="text-center">
              <span ng-repeat="star in stars"><i class="fa fa-star gold" aria-hidden="true"></i> </span>
              <span ng-repeat="star in emptyStars"><i class="fa fa-star-o" aria-hidden="true"></i> </span>
            </p>
            </div>
          </p>
          <div class="confirmated-data col-md-6">
            <p class="hire-description">A continuación podrás visualizar los datos del proveedor:</p>
            <div class="padding-tam2">
              <p ><span class="iconcolor glyphicon glyphicon-user" aria-hidden="true"></span> Proveedor: <span ng-bind="toUser.fullName"></span></p>
              <p ><span class="iconcolor glyphicon glyphicon-envelope"></span> Email: <span ng-bind="toUser.email"></span></p>
            <!--<p>Documento: <span ng-bind="toUser.dni"> </span></p>-->
              <p><span class="iconcolor glyphicon glyphicon-calendar"></span> Fecha acordada: <time>{{ transaction.agreedDate | date : "dd/MM/y" }}</time></p>
              <p></span><span class="iconcolor glyphicon glyphicon-earphone"></span> Teléfono: <span ng-bind="toUser.phone"> </span></p>
            </div>
            <div class="padding-tam1">
              <a class="btn logo-color-bg " href="/#/perfil/{{$root.idUser}}"><i class="glyphicon glyphicon-share-alt" > </i> Volver al Perfil</a>
              <button class="btn btn-success" data-toggle="modal" data-target="#myModal" > <i class="glyphicon glyphicon-search"> </i> Busca otro servicio </button>

              <div id="myModal" class="modal fade"  data-dismiss="modal">
                <div class="modal-dialog">


                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Busca un nuevo servicio</h4>
                    </div>
                    <div class="modal-body">
                      <form class="navbar-form navbar-left navbar-width " role="search">
                        <div class="form-group navbar-width " style="padding-top: 0.1em">
                          <div class="input-group stylish-input-group navbar-width ">
                            <input type="text" class="form-control navbar-search navbar-width" placeholder="Buscar servicios" ng-model="toFind">
                            <a class="input-group-addon navbar-search-border"  ng-href="/#/servicio/{{toFind}}">
                              <button type="submit" ng-click="removeModal()">
                                <span class="glyphicon glyphicon-search" ></span>
                              </button>
                            </a>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-6">
          <div ng-show="mainWork.address.street != null ||mainWork.address.number != null || mainWork.address.district.name != null">
            <ng-map zoom="16" center="{{mainWork.address.street}} {{mainWork.address.number}} {{mainWork.address.district.name}}">
              <marker position="{{mainWork.address.street}} {{mainWork.address.number}} {{mainWork.address.district.name}}"
                      title="{{mainWork.name}}"
                      centered="true"></marker>
            </ng-map>
          </div>

          <div ng-hide="mainWork.address.street != null ||mainWork.address.number != null || mainWork.address.district.name != null">
            El usuario no dispone de una ubicación.
          </div>

        </div>
          <div class="col-md-12 padding-tam1"><p>Podrás consultar los datos del proveedor en cualquier momento en tu <b><a href="/#/perfil/{{$root.idUser}}">Historial de transacciones</a></b></p>
          <p>Recuerda calificar al proveedor una vez que el servicio se concrete, asi ayudarás a más personas a la hora de elegir a su proveedor!</p>
          </div>
      </div>


  </div>
</div>

</div>

<footer-dutymap></footer-dutymap>
