<!-- Header -->

    <header id="top" class="header background full-height">

      <div class="text-vertical-center background-busqueda">
        <div class="">
          <navbar-home></navbar-home>
            <img class="logo" src="images/servimapLogo.png" alt="logo">
        </div>
        <div>
          <h2><b>¿Qué servicio necesitás?</b></h2>
          <h3 >Podrás encontrar variedad de servicios como contadores, abogados, jardineros y más!</h3>
            <form>
              <div class="input-group stylish-input-group responsive-search  ">
                <input type="text" class="form-control searchbox" placeholder="Ejemplo: Pintor" ng-model="toFind">
                <a class="icons-box input-group-addon" ng-href="/#/servicio/{{toFind}}">
                  <button type="submit">
                    <span class="minimal-icon glyphicon glyphicon-search "></span>
                    <span class="normal-icon">Buscar</span>
                  </button>
                </a>
              </div>
          </form>
             <!--<a href="#services"><button class="btn btn-info logo-color-bg ">Buscar por categorías</button></a>-->

        </div>
      </div>
    </header>

<!-- Services -->

<section id="services" class="services logo-color-bg">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Servicios por categoría</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <img class="service-icon"src="images/area-aesthetics.png" alt="">
                            </span>
              <h4>
                <strong>Estética</strong>
              </h4>
              <p>132 peluqueros, cosmetólogos, cosmiatras y mas están cercanos a tu zona!.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                               <img class="service-icon"src="images/area-home.png" alt="">
                            </span>
              <h4>
                <strong>Hogar</strong>
              </h4>
              <p>132 gasistas, electricistas, carpinteros y más estan cercanos a tu zona!.</p>

            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <img class="service-icon"src="images/area-education.png" alt="">
                            </span>
              <h4>
                <strong>Educación</strong>
              </h4>
              <p>123 profesores particulares de matemática, física y más estan cercanos</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item">
                  <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                 <img class="service-icon"src="images/area-more.png" alt="">
                            </span>
              <h4>
                <strong>Otros servicios</strong>
              </h4>
              <p>132 mecánicos, contadores, abogados y mas están cercanos a tu zona!.</p>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<footer-servimap></footer-servimap>

