<navbar-secondary></navbar-secondary>
<div class="container-fluid loginbackground">
<div class="row">
  <div class="col-md-12">
    <div class="wrap">
      <p class="form-title">
        Iniciar sesión</p>
      <form class="login" ng-submit="login()">
        <input type="text" placeholder="Email" ng-model="credentials.username" />
        <input type="password" placeholder="Contraseña" ng-model="credentials.password" />
        <input type="submit" value="Iniciar sesión" class="btn logo-color-bg register-button" />
        <div class="remember-forgot">
          <div class="row">
            <div class="col-md-12 forgot-pass-content text-center">
              <a href="/#/passwordRecovery" class="forgot-pass">¿Olvidaste tu contraseña?</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<footer-dutymap></footer-dutymap>
