<navbar-secondary></navbar-secondary>
<section class="register">

  <div >
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Me olvide mi password</h1>
      </div>
    </div>

  </div>

    <div>
        <div class="modal-header">
          <div class="row">
            <div class="col-lg-4">
              <div class="input-group">
                <span>Ingrese su email para recuperar su password</span>
                <input type="text" class="form-control" ng-model="email" placeholder="Email"/><br/>
                <button type="button" class="form-control" ng-click="recover()">Recuperar</button>
              </div>
            </div>
          </div>
          <!--<div class="row">-->
            <!--<div class="col-md-12 modal-title modal-label col-md-12" ng-class="{'has-error': userForm.email.$touched &&  userForm.email.$invalid, 'has-success' : userForm.email.$valid}">-->
              <!--<span>Email</span>-->
              <!--<input type="email" name="email" class="text-center col-md-3" ng-model="provider.email" ng-required="true">-->
              <!--<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">El email es incorrecto.</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--<div class="modal-body"><div class="col-md-12 modal-title modal-label col-md-12">lala</div></div>-->
      </div>
    </div>


  </div>
</section>
<footer-dutymap></footer-dutymap>
