<navbar-secondary></navbar-secondary>
<section class="register">

    <div class="row col-md-12">
        <h1 class="text-center">Me olvide mi password</h1>
    </div>

    <div>
        <div class="modal-header">
            <div class="row col-lg-12 col-sm-12 col-md-12"><br>
                <div class="col-sm-4 col-sm-push-4">
                    <span>Ingrese su email</span>
                    <input type="email" name="email" class="form-control input-lg immediate-help" ng-model="provider.email" ng-required="true">
                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">El email es incorrecto.</p>
                    <br>
                    <button class="btn btn-default pull-right" ng-click="recover()">Recuperar</button>
                    <br><br><br><br>
                </div>
            </div>
          </div>
          <!--<div class="row">-->
            <!--<div class="col-md-12 modal-title modal-label col-md-12" ng-class="{'has-error': userForm.email.$touched &&  userForm.email.$invalid, 'has-success' : userForm.email.$valid}">-->
              <!--<span>Email</span>-->
              <!--<input type="email" name="email" class="text-center col-md-3" ng-model="provider.email" ng-required="true">-->
              <!--<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">El email es incorrecto.</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--<div class="modal-body"><div class="col-md-12 modal-title modal-label col-md-12">lala</div></div>-->
      </div>
    </div>


  </div>
</section>
<footer-dutymap></footer-dutymap>
