<navbar-secondary></navbar-secondary>
<div class="separator"></div>
<section class="register">
    <div class="row col-md-12">
        <h1 class="text-center" style="margin:7% 1% 3% 1%;"><b>Olvide mi contrase&ntilde;a</b></h1>
    </div>

    <div>
        <div class="modal-header">

            <div class="row col-lg-12 col-sm-12 col-md-12"><br>

                <div class="col-sm-4 col-sm-push-4 " ng-show="emailHashed == undefined || emailHashed == null">
                  <span style="color:#2f3a4c; margin-bottom:2%;"><b>INGRESE SU EMAIL : </b></span>
                  <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>

                    <input type="email" name="email" class="form-control input-lg " ng-model="email" ng-required="true">
                    </div>
                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">El email es incorrecto.</p>
                    <br>
                    <button class="btn button-1 logo-color-bg pull-right" style="margin-top:3%;margin-bottom: 30%;" ng-click="recover()">Enviar</button>

                </div>
                <div class="col-sm-4 col-sm-push-4" ng-show="emailHashed != undefined || emailHashed != null">
                  <span style="color:#2f3a4c; margin-bottom:2%;"><b>INGRESE SU NUEVA CONTRASE&Ntilde;A : </b></span>
                  <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="password" name="newPassword" class="form-control input-lg immediate-help" ng-model="newPassword" ng-required="true">
                  </div>
                  <br>
                  <button class="btn button-1 logo-color-bg  pull-right" style="margin-top:3%;margin-bottom: 30%;" ng-click="saveNewPassword()">Recuperar</button>
                </div>
            </div>
        </div>
          <!--<div class="row">-->
            <!--<div class="col-md-12 modal-title modal-label col-md-12" ng-class="{'has-error': userForm.email.$touched &&  userForm.email.$invalid, 'has-success' : userForm.email.$valid}">-->
              <!--<span>Email</span>-->
              <!--<input type="email" name="email" class="text-center col-md-3" ng-model="provider.email" ng-required="true">-->
              <!--<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">El email es incorrecto.</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--<div class="modal-body"><div class="col-md-12 modal-title modal-label col-md-12">lala</div></div>-->
      </div>
    </div>


  </div>
</section>
<footer-servimap></footer-servimap>
