<navbar-secondary></navbar-secondary>
<div class="container">
  <div class="col-md-12">
    <h1 class="text-center">Política de privacidad </h1>
  </div>

  <p class="title">Política de privacidad de Dutymap</p>
  <p class="description"><p><strong>Dutymap</strong> (en adelante, <strong>Dutymap</strong> y los pronombres y verbos en primera persona del plural) gestiona una plataforma comunitaria que ayuda a las personas a ofrecer y contratar servicios seguros en forma directa con otras personas en el mundo real, ya sea a través de nuestra página web o a través de páginas de terceros, como cuentas en diversas redes sociales. El término <strong>Dutymap</strong> se refiere a Dutymap.com, <strong>Dutymap.com SRL</strong> y cada una de sus subsidiarias en Latinoamérica.</p></p>


</div>
<footer-dutymap></footer-dutymap>
