<navbar-secondary></navbar-secondary>

<div class="container-fluid">
  <div class="col-sm-6 col-sm-push-3 text-center not-found" ng-show="user.idUser == null">
    <div>
      <i class="fa fa-bullhorn fa-5x text-dutymap" aria-hidden="true"></i>
    </div>
    <div>
      <h4 class="text-dutymap"><b>Psss! No hemos encontrado el perfil que buscaste, intenta de nuevo <br><br>
        <a href="/#/" class="btn logo-color-bg ">Volver a inicio</a>
      </b></h4>
    </div>
  </div>
</div>
<div class="resume container-fluid" ng-hide="user.idUser == null">

  <profile-dutymap></profile-dutymap>

  <div class="container-fluid col-md-9 col-xs-12">

      <div class="col-md-12 profile-inner">
          <br>

          <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" data-target="#profile">Mi perfil</a></li>
              <li ng-show="$root.idUser == user.idUser"><a data-toggle="tab" data-target="#settings">Editar perfil</a></li>
              <li ng-show="$root.idUser == user.idUser"><a data-toggle="tab" data-target="#transaction-history">Mis contrataciones</a></li>
              <li ng-show="$root.idUser == user.idUser && user.type == 'proveedor'"><a data-toggle="tab" data-target="#service-history">Mis clientes <span class="badge">{{newServices.newOne}}</span></a></li>
          </ul>

          <div class="tab-content">
              <!--Seccion Mi perfil-->
              <div id="profile" class="tab-pane fade in active">

                <h3>Mi perfil</h3>
                <div id="module-work" class=" col-md-12 col-sm-12">
                  <div class="module-work col-md-5 col-xs-12" ng-repeat="aWork in works">
                    <h3><i class="fa fa-briefcase" aria-hidden="true"></i> {{aWork.name}}</h3>
                    <div>
                      <p>{{aWork.description}}</p>
                      <p>{{aWork.category.name}}</p>
                      <p>{{aWork.address.district.name}}</p>
                    </div>
                  </div>

                  <div class="module-work col-sm-6 col-md-5 col-xs-12">
                    <h3><i class="fa fa-users" aria-hidden="true"></i> Feedback</h3>
                    <div id="feedback-info" ng-show="rating != undefined">
                      <p>Confiabilidad<span ng-repeat="star in starReliability"><i class="fa fa-star blue" aria-hidden="true"></i> </span>
                        <span ng-repeat="star in emptyStarsReliability"><i class="fa fa-star-o" aria-hidden="true"></i> </span>
                      </p>
                      <p>Desempeño
                        <span ng-repeat="star in starPerformance"><i class="fa fa-star blue" aria-hidden="true"></i> </span>
                        <span ng-repeat="star in emptyStarsPerformance"><i class="fa fa-star-o" aria-hidden="true"></i> </span>
                      </p>
                      <p>Consideración
                        <span ng-repeat="star in starConsideration"><i class="fa fa-star blue" aria-hidden="true"></i> </span>
                        <span ng-repeat="star in emptyStarsConsideration"><i class="fa fa-star-o" aria-hidden="true"></i> </span>
                      </p>
                      <p>Recomendación
                        <span ng-repeat="star in starRecommendation"><i class="fa fa-star blue" aria-hidden="true"></i> </span>
                        <span ng-repeat="star in emptyStarsRecommendation"><i class="fa fa-star-o" aria-hidden="true"></i> </span>
                      </p>
                    </div>
                    <div ng-hide="rating != undefined">
                      <br>
                      <h4>Aún no tiene calificaciones</h4>
                      <br>
                      <br>
                    </div>
                  </div>

                </div>

                <div id="module-feedback" class="col-md-12">

                  <div ng-hide="works.length == 0" class="module-size">
                    <div id="publidutymap">
                      <a href="#/"><img src="../images/prop.jpg" class="prop"></a>
                    </div>
                  </div>

                  <div class="module  col-md-5 col-sm-6 col-xs-12">
                    <h3><i class="fa fa-comments-o" aria-hidden="true"></i> Comentarios</h3>
                    <div ng-show="comments.length != 0 && rating != undefined " class="comments" ng-repeat="comment in comments track by $index">
                      <p>{{comment}}</p>
                    </div>
                    <div ng-hide="(comments.length != 0 && comments != undefined) || rating != undefined">
                      <br>
                      <h4>Aún no obtuviste comentarios</h4>
                      <br>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
              <!--Seccion Editar perfil-->
              <div id="settings" class="tab-pane fade">
                <h3>Editar perfil</h3>
                <div class="col-md-12">

                  <h4>Datos personales</h4>
                  <form  role="form" name="userForm"  ng-submit="updateUser()" >
                    <div class="row">

                      <!-- Campo nombre <-->
                      <div class="col-xs-12 col-sm-6 form-group " ng-class="{ 'has-error': userForm.name.$touched && userForm.name.$invalid, 'has-success' : userForm.name.$valid && userForm.name.$touched }"  >
                        <span>Nombre</span>
                        <input type="text" name="name"  class="form-control input-lg" ng-minlength="2" ng-model="updateUser.firstName"  ng-value="user.name" ng-pattern="onlyChar"  >
                        <div class="help-block" ng-messages="userForm.name.$error" ng-if="userForm.name.$touched">
                          <p ng-message="minlength">El nombre es muy corto.</p>
                          <p ng-message="pattern">No se admiten números ni caracteres especiales.</p>
                        </div>
                      </div>

                      <!-- Campo apellido <-->
                      <div class="col-xs-12 col-sm-6 form-group " ng-class="{ 'has-error': userForm.surName.$touched && userForm.surName.$invalid, 'has-success' : userForm.surName.$valid && userForm.surName.$touched  }"  >
                        <span>Apellido</span>
                        <input type="text" name="surName"  class="form-control input-lg" ng-minlength="2" ng-model="updateUser.surname" ng-value="user.surname"  ng-pattern="onlyChar"  >
                        <div class="help-block" ng-messages="userForm.surName.$error" ng-if="userForm.surName.$touched">
                          <p ng-message="minlength">El nombre es muy corto.</p>
                          <p ng-message="pattern">No se admiten números ni caracteres especiales.</p>
                        </div>
                      </div>

                    </div>

                    <div class="row">
                      <!-- Campo email <-->
                      <div class="col-xs-12 col-sm-6 form-group " >
                        <span>Email</span>
                        <input type="text" class="form-control input-lg" ng-minlength="2" ng-model="updateUser.email" ng-value="user.email">
                      </div>

                      <!-- Campo teléfono <-->

                      <div class="col-xs-12 col-sm-6 form-group" ng-class="{ 'has-error': userForm.telephone.$touched && userForm.telephone.$invalid, 'has-success' : userForm.telephone.$valid && userForm.telephone.$touched }">
                        <span>Teléfono</span>

                        <input type="text" name="telephone" ng-model="updateUser.telephone" class="form-control input-lg" ng-pattern="onlyNumbers" ng-value="user.phone">
                        <div class="help-block" ng-messages="userForm.telephone.$error" ng-if="userForm.telephone.$touched">
                          <p ng-message="pattern">Sólo numeros.</p>
                        </div>
                      </div>
                    </div>

                    <div class="row"></div>

                    <div class="row">
                        <div class="col-xs-12 col-md-4 form-group">
                          <span>Contraseña actual</span>
                          <input type="password" class="form-control input-lg" name="oldPassword" ng-model="updateUser.oldPassword">
                        </div>

                        <!-- Campo contraseña <-->
                        <div class="col-xs-12 col-md-4 form-group " ng-class="{'has-error': userForm.newPassword.$touched &&  userForm.newPassword.$invalid, 'has-success': userForm.newPassword.$valid && userForm.newPassword.$touched}">
                          <span>Nueva contraseña</span>
                          <input type="password" name="newPassword" ng-model-options="{ updateOn: 'keyup' }"  password-validation="updateUser.passwordConfirmation" class="form-control input-lg immediate-help" ng-model="updateUser.newPassword" ng-pattern="passwordRegex" >
                          <div class="input-help">
                            <h4>La contraseña debe tener:</h4>
                            <ul>
                              <li ng-class="pwdValidLength">Al menos <strong>8 caracteres</strong></li>
                              <li ng-class="pwdHasLetter">Al menos <strong>una letra</strong></li>
                              <li ng-class="pwdHasNumber">Al menos <strong>un número</strong></li>
                            </ul>
                          </div>
                        </div>
                        <!-- Campo confirmar contraseña <-->
                        <div class="col-xs-12 col-md-4 form-group" ng-class="{'has-error': userForm.passwordConfirmation.$touched &&  userForm.passwordConfirmation.$invalid, 'has-success': userForm.passwordConfirmation.$valid && userForm.newPassword.$touched}">
                          <span>Repite  la nueva contraseña</span>
                          <input type="password" name="passwordConfirmation" id="pw1" class="form-control input-lg"
                                 ng-model="updateUser.passwordConfirmation">
                          <div class="help-block"  ng-messages="userForm.passwordConfirmation.$error" ng-if="userForm.passwordConfirmation.$touched">
                            <p ng-message="required">Repite la contraseña</p>
                            <p ng-message="noMatch">Las contraseñas no coinciden</p>
                          </div>
                        </div>

                        <div class="col-md-12 text-center">
                          <button type="submit" class="btn  logo-color-bg profile-btn">Guardar cambios</button>
                          <br>
                          <br>
                        </div>
                    </div>
                  </form>

                  <!--<div ng-show="user.type == 'proveedor' ">-->
                   <!--<h4>Mis servicios:</h4>-->
                    <!--<div class="col-md-12" >-->
                    <!--<span ng-repeat="aWork in works" class="active-works glyphicon glyphicon-briefcase" ng-bind="aWork.name"> </span>-->
                    <!--<p class="text-center">-->
                      <!--<a class="btn logo-color-bg  profile-btn" href="/#/registro">Agregar servicio</a>-->
                    <!--</p>-->
                    <!--</div>-->
                <!--</div>-->

                </div>
              </div>
              <!--Seccion mis de transacciones-->
              <div  id="transaction-history" class="tab-pane fade">

            <h3>Mis contrataciones</h3>
            <div class="col-xs-12 formqualify padding-tam-1 ">

              <div ng-show="myTransactions.length == 0">No posee transacciones</div>
              <div  class="col-xs-12 col-md-12 " ng-repeat="t in myTransactions">
                <div class="col-xs-12 col-sm-3 col-md-2">
                  <p class="text-center"> <img class="img-circle" ng-src="data:image/png;base64,{{t.work.user.photo}}" alt=""> </p>
                </div>

                <div class="col-xs-12 col-sm-7  col-md-7">
                  <div class="col-xs-12 col-sm-6">
                    <a style="text-decoration:none;" ng-href="/#/perfil/{{t.work.user.idUser}}"><h3>{{t.work.user.fullName}}</h3></a>
                    <p>{{t.work.name}} </p>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-sm-6">
                    <h3><i class="fa fa-map-marker fa-1x text-dutymap" aria-hidden="true"></i> {{t.work.address.district.name != undefined ? t.work.address.district.name : 'A domicilio'}}</h3>
                    <br>
                    <span ng-show="t.state == 1" class="label label-warning">Solicitud enviada</span>
                    <span ng-show="t.state == 2" class="label label-success">Servicio aceptado</span>
                    <span ng-show="t.state == 3" class="label label-danger">Servicio rechazado</span>
                    <span ng-show="t.state == 4" class="label label-warning">Pendiente de calificacion</span>
                    <span ng-show="t.state == 5" class="label label-primary">Calificado</span>
                    <span ng-show="t.state == 6 || t.state==5" class="label label-primary">Servicio finalizado</span>
                  </div>
                </div>

                <div class="col-xs-12  col-md-3 text-center">
                  <!--<p>Valoración : </p>-->
                  <!--<p>Costo : ${{aWork.price}}</p>-->
                  <button ng-show="t.state == 4 && root.idUser == t.toUser || t.state == 5 && root.idUser != t.toUser" ng-click="qualifyService(t.idTransaction)" class="btn qualify profile">Calificar</button>
                  <a ng-show="t.state != 3 " class="btn btn-agreement profile " data-toggle="modal" data-target="#dataProvider{{$index}}" >Ver acuerdo</a>
                </div>
                <div class="col-xs-12">
                <hr/>
                </div>

                <!--Modal 'Ver acuerdo'-->
                <div id="dataProvider{{$index}}" class="modal fade" tabindex="-1" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Datos de la contratación</h4>
                      </div>
                      <div class="modal-body">
                        <h4>
                        <p><span class="iconcolor glyphicon glyphicon-user" aria-hidden="true"></span> Proveedor: <span ng-bind="t.work.user.fullName"></span></p>
                        <p><span class="iconcolor glyphicon glyphicon glyphicon-briefcase" aria-hidden="true"></span> Servicio: <span ng-bind="t.work.name"></span></p>
                        <p><span class="iconcolor glyphicon glyphicon-envelope"></span> Email: <span ng-bind="t.work.user.email"></span></p>
                        <p><span class="iconcolor glyphicon glyphicon-calendar"></span> Fecha acordada: <time>{{ t.agreedDate | date : "dd/MM/y"}}</time><p>
                        <p><span class="iconcolor glyphicon glyphicon-time"></span> Hora acordada: <time>{{ t.agreedDate | date : "h:mma"}}</time><p>
                        <p><span class="iconcolor glyphicon glyphicon-earphone"></span> Teléfono: <span ng-bind="t.work.user.phone"> </span></p>
                        <p><span class="iconcolor glyphicon glyphicon-map-marker"></span> Direcci&oacuten: <span ng-bind="t.address"> </span></p>
                        <p><i class="iconcolor fa fa-comment" aria-hidden="true"></i></span> Comentario: <span ng-bind="t.textProblem"> </span></p>
                        </h4>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
              <!--Seccion Mis clientes-->
              <div id="service-history" class="tab-pane fade">

                <h3>Mis clientes</h3>

                <div class="col-xs-12 formqualify padding-tam-1 ">

                  <div ng-show="myServiceHistory.length == 0">No posee transacciones</div>
                  <div  class="col-xs-12 col-md-12 " ng-repeat="history in myServiceHistory">
                    <div class="col-xs-12 col-sm-2 col-md-2">
                      <p class="text-center"> <img class="img-circle" ng-src="data:image/png;base64,{{history.fromUser.photo}}" alt=""> </p>
                    </div>

                    <div class="col-xs-12 col-sm-8  col-md-7">
                      <div class="col-xs-12 col-sm-6">
                        <a style="text-decoration:none;" ng-href="/#/perfil/{{history.fromUser.idUser}}"><h3>{{history.fromUser.fullName}}</h3></a>
                        <!--<p>{{history.fromUser.name}} </p>-->
                      </div>
                      <div class="col-xs-12 col-sm-6">
                        <h3><i class="fa fa-map-marker fa-1x text-dutymap" aria-hidden="true"></i> {{history.fromUser.idAddress.district.name != undefined ? history.fromUser.idAddress.district.name : 'A domicilio'}}</h3>
                        <br>
                        <span ng-show="history.state == 1" class="label label-warning">Solicitud pendiente</span>
                        <span ng-show="history.state == 2" class="label label-success">Servicio aceptado</span>
                        <span ng-show="history.state == 3" class="label label-danger">Servicio rechazado</span>
                        <span ng-show="history.state == 5" class="label label-primary">Calificado</span>
                        <span ng-show="history.state == 5 || history.state == 6" class="label label-primary">Servicio finalizado</span>
                      </div>
                    </div>

                      <div class="col-xs-12 col-md-3 text-center">
                        <!--<p>Valoración : </p>-->
                        <!--<p>Costo : ${{aWork.price}}</p>-->
                        <button ng-show="history.state == 4 " ng-click="qualifyUserService(history.idTransaction)" class="btn qualify profile">Calificar</button>
                        <a ng-show="history.state != 3 " class="btn btn-agreement profile " data-toggle="modal" data-target="#dataUser{{$index}}" >Ver acuerdo</a>
                        <button ng-show="history.state == 1 " class="btn btn-success profile" ng-click="acceptService(history.idTransaction)">Aceptar</button>
                        <button ng-show="history.state == 1 " class="btn btn-danger profile" ng-click="rejectService(history.idTransaction)">Rechazar</button>
                        <button ng-show="history.state == 2 " class="btn btn-primary profile" ng-click="finishService(history.idTransaction)">Finalizar</button>
                      </div>
                      <div class="col-sm-12">
                        <hr/>
                      </div>

                      <!--Modal 'Ver acuerdo'-->
                      <div id="dataUser{{$index}}" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title">Datos de la contratación</h4>
                            </div>
                            <div class="modal-body">
                              <h4>
                              <p><span class="iconcolor glyphicon glyphicon-user" aria-hidden="true"></span> Cliente: <span ng-bind="history.fromUser.fullName"></span></p>
                              <p><span class="iconcolor glyphicon glyphicon-envelope"></span> Email: <span ng-bind="history.fromUser.email"></span></p>
                              <p><span class="iconcolor glyphicon glyphicon-calendar"></span> Fecha acordada: <time>{{ history.agreedDate | date : "dd/MM/y"}}</time><p>
                              <p><span class="iconcolor glyphicon glyphicon-time"></span> Hora acordada: <time>{{ history.agreedDate | date : "h:mma"}}</time><p>
                              <p><span class="iconcolor glyphicon glyphicon-earphone"></span> Teléfono: <span ng-bind="history.fromUser.phone"> </span></p>
                              <p><span class="iconcolor glyphicon glyphicon-map-marker"></span> Direcci&oacute;n acordada: <span ng-bind="history.address"> </span></p>
                              <p><i class="iconcolor fa fa-comment" aria-hidden="true"></i></span> Comentario: <span ng-bind="history.textProblem"> </span></p>
                              </h4>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                          </div>
                        </div>
                      </div>

                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
<footer-dutymap></footer-dutymap>
