<div class="resume container-fluid">

    <div class="text-center module-main col-md-3">
        <p class="text-center image-profile">
            <img class="img-circle" src="https://pbs.twimg.com/profile_images/600061604319887360/PqDUDBEt.jpg" alt="">
        </p>

        <h2 ng-bind="user.fullName"></h2>
        <h3 ng-bind="mainWork.name"></h3>
        <h5 ng-bind="mainWork.description"></h5>

        <div class="profile-rating">
            <p class="text-center">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </p>
        </div>

        <div class="box-info">
            <div class="col-md-6 blue">
                7 trabajos concretados
            </div>

            <div class="col-md-6">
                Hora $20
            </div>
        </div>

        <button class="btn btn-info remark logo-color-bg">Contactar</button>
    </div >

    <div class="container-fluid col-md-9">

        <div id="module-work" class="col-md-12">
            <div class="module-work col-sm-6" ng-repeat="aWork in works">
                <h3><i class="fa fa-briefcase" aria-hidden="true"></i> {{aWork.name}}</h3>
                <div>
                    <p>{{aWork.description}}</p>
                    <p>{{aWork.category.name}}</p>
                    <p>{{aWork.address.district.name}}</p>
                </div>
            </div>

            <div ng-class="{'info-block-module': works.length > 1, 'module-size': works.length == 1}">
                <div class="col-sm-6 reset-padding">
                    TODO Agregar info
                </div>
                <div class="col-sm-6 reset-padding">
                    TODO Agregar info
                </div>
            </div>
        </div>

        <div id="module-feedback" class="col-md-12">
            <div class="module col-sm-6 col-xs-12">
               <h3><i class="fa fa-users" aria-hidden="true"></i> Feedback</h3>
                <div id="feedback-info">
                    <p>reliability {{user.rating.reliability}}</p>
                    <p>performance {{user.rating.performance}}</p>
                    <p>consideration {{user.rating.consideration}}</p>
                    <p>recommendation {{user.rating.recommendation}}</p>
                </div>
            </div>

            <div class="module col-sm-6 col-xs-12">
                <h3><i class="fa fa-comments-o" aria-hidden="true"></i> Comentarios</h3>
                <div class="comments" ng-repeat="tx in transactions">
                    <p>{{tx.comment}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
