<navbar-secondary></navbar-secondary>
    <section class="register">

      <!--<div class="text-center" ng-show="user.type == proveedor || user.type == comprador">-->
          <!--<h3 class="text-dutymap">Debes cerrar sesión para registrar un usuario</h3>-->
          <!--<button class="btn logo-color-bg" ng-click="logout()">Cerrar sesión</button>-->
        <!--<br><br>-->
      <!--</div>-->
        <div class="container-fluid">
            <div ng-hide="userRegister || userProveedor || createWork || confirmation || $root.idUser != null">
                <div class="row">
                  <div class="col-md-12">
                    <h1 class="text-center">¿Qué estás buscando?</h1>
                  </div>
                </div>
            <!-- Tipo de usuario- modal -->
                <div class="row user-type">
                    <div class="col-md-12">
                        <div class="col-md-6 divider">
                            <h2 class="text-center">Quiero contratar servicios</h2>
                            <img class="images-register center" src="images/userr.png" alt="">
                            <button class="btn logo-color-bg register-button center"  ng-click="tipoUsuario()">Contratar</button>
                        </div>
                        <div class="col-md-6">
                            <h2 class="text-center">Quiero ofrecer mis servicios</h2>
                            <img  class="images-register center " src="images/worker.png" alt="">
                            <button class="btn logo-color-bg register-button center" ng-click="tipoProveedor()" >Trabajar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Ventana Modal Usuario -->
            <div ng-show="(userRegister || userProveedor) && !createWork && !confirmation">
                <div>
                    <div class="modal-header">
                        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>-->
                        <div class="col-md-12 modal-title modal-label col-md-12">
                          <div class="col-md-2">
                            <button class="btn button-1 logo-color-bg col-md-1" ng-click="back()"><i class="glyphicon glyphicon-share-alt">  </i> Volver</button>
                          </div>
                          <div class=" col-md-9 tex-center">
                            <div class="col-md-12">
                              <div class="col-md-3" ng-show="userProveedor">
                                <a href="" type="button" class="btn btn-primary btn-circle">1</a>
                                <hr/>
                                <div class="col-md-12">  <small><b>Regístrate</b></small></div>
                              </div>
                              <div class="col-md-3 col-md-offset-2" ng-show="userRegister">
                                <a href="" type="button" class="btn btn-primary btn-circle">1</a>
                                <hr/>
                                <div class="col-md-12">  <small><b>Regístrate</b></small></div>
                              </div>
                              <div class="col-md-4 text-center" ng-show="userProveedor">
                                <a href="" type="button" class="btn btn-primary btn-circle" disabled="disabled" >2</a>
                                <hr/>
                                <div class="col-md-12" ><small>Cargá tu trabajo</small></div>
                              </div>
                              <div class="col-md-4" ng-show="userRegister">
                                <a href="" type="button" class="btn btn-primary btn-circle" disabled="disabled">2</a>
                                <hr/>
                                <div class="col-md-12"> <small>Confirmación</small></div>
                              </div>
                              <div class="col-md-4" ng-show="userProveedor">
                                <a href="" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                                <hr/>
                                <div class="col-md-12"> <small>Confirmación</small></div>
                              </div>
                            </div>
                          </div>
                            <!--<div class="col-md-8 col-md-offset-1">-->
                            <!--<h4 class="modal-title modal-label"> Registro {{userRegister == true ? "usuario" : "proveedor" }}</h4>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                                <!-- Formulario -->
                                <form role="form" name="userForm" ng-hide="$root.idUser != null " ng-submit="saveUser()" ng-model-options="{ updateOn: 'blur' }">
                                    <h3><b>Regístrate como  {{userRegister == true ? "usuario" : "proveedor" }} gratis!</b> <div class="small"><h4>Por favor, completa los siguientes campos.</h4></div></h3>
                                    <div class="row">
                                        <!-- Campo nombre <-->
                                        <div class="col-xs-12 col-sm-6 form-group " ng-class="{ 'has-error': userForm.firstName.$touched && userForm.firstName.$invalid, 'has-success' : userForm.firstName.$valid}"  >
                                            <span>Nombre</span>
                                            <input type="text" name="firstName"  class="form-control input-lg" ng-minlength="2" ng-model="provider.name"  ng-pattern="onlyChar" ng-required="true" >
                                            <div class="help-block" ng-messages="userForm.firstName.$error" ng-if="userForm.firstName.$touched">
                                                <p ng-message="minlength">El nombre es muy corto.</p>
                                                <p ng-message="required">Ingrese un nombre</p>
                                                <p ng-message="pattern">No se admiten números ni caracteres especiales.</p>
                                            </div>
                                        </div>

                                        <!-- Campo apellido <-->
                                        <div class="col-xs-12 col-sm-6 form-group" ng-class="{ 'has-error': userForm.surName.$touched && userForm.surName.$invalid, 'has-success' : userForm.surName.$valid}">
                                            <span>Apellido</span>
                                            <input type="text" name="surName" class="form-control input-lg" ng-minlength="2" ng-model="provider.surname" ng-required="true" ng-pattern="onlyChar">
                                            <div class="help-block" ng-messages="userForm.surName.$error" ng-if="userForm.surName.$touched">
                                                <p ng-message="minlength">El apellido es muy corto.</p>
                                                <p ng-message="required">Ingrese un apellido</p>
                                                <p ng-message="pattern">No se admiten números ni caracteres especiales.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!-- Campo nombre de usuario <-->
                                        <div class="col-xs-12 col-sm-6 form-group " ng-class="{'has-error': userForm.userName.$touched && userForm.userName.$invalid, 'has-success' : userForm.userName.$valid} ">
                                            <span>Usuario</span>
                                            <input type="text" name="userName" class="form-control input-lg" ng-model="provider.userName" ng-pattern="charAndNumbersNoSpace" ng-required="true">
                                            <div class="help-block" ng-messages="userForm.userName.$error" ng-if="userForm.userName.$touched">
                                                <p ng-message="required">Escribe el nombre de usuario</p>
                                                <p ng-message="pattern">No se permiten espacios en blanco</p>
                                            </div>
                                        </div>
                                        <!-- Campo email <-->
                                        <div class="col-xs-12 col-sm-6 form-group " ng-class="{'has-error': userForm.email.$touched &&  userForm.email.$invalid, 'has-success' : userForm.email.$valid}">
                                            <span>Email</span>
                                            <input type="email" name="email" class="form-control input-lg immediate-help" ng-model="provider.email" ng-required="true">
                                            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">El email es incorrecto.</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!-- Campo telefono <-->
                                        <div class="col-xs-12 col-sm-6 form-group" ng-class="{ 'has-error': userForm.telephone.$touched && userForm.telephone.$invalid, 'has-success' : userForm.telephone.$valid}">
                                            <span>Teléfono</span>
                                            <input type="text" name="telephone" ng-model="provider.telephone" class="form-control input-lg" ng-pattern="onlyNumbers" ng-required="true">
                                            <div class="help-block" ng-messages="userForm.telephone.$error" ng-if="userForm.telephone.$touched">
                                              <p ng-message="required">Teléfono requerido.</p>
                                            </div>
                                        </div>

                                        <!-- Campo localidad -->
                                        <div class="col-xs-12 col-sm-6 form-group" ng-class="{ 'has-error': userForm.district.$touched , 'has-success' : userForm.district.$valid}">
                                            <span>Localidad</span>
                                            <select class="form-control input-lg" name="district" ng-model="provider.district" required ng-options="zona.name for zona in zonas track by zona.id">
                                              <option value="">Seleccione una</option>
                                            </select>
                                            <div class="help-block" ng-messages="userForm.district.$error" ng-if="userForm.district.$touched">
                                                <p ng-message="required">Localidad requerida</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!-- Campo calle -->
                                        <div class="col-xs-12 col-sm-6 form-group bg-dangerr"  ng-class="{ 'has-error': userForm.street.$touched , 'has-success' : userForm.street.$valid}">
                                            <span>Calle</span>
                                            <input type="text" name="street" ng-model="provider.street" class="form-control input-lg" ng-required="true">
                                            <div class="help-block" ng-messages="userForm.street.$error" ng-if="userForm.street.$touched">
                                                <p ng-message="required">Calle requerida.</p>
                                                <p ng-message="pattern">Calle incorrecta.</p>
                                            </div>
                                        </div>

                                        <!-- Campo numero -->
                                        <div class="col-xs-12 col-sm-6 form-group bg-dangerr"  ng-class="{ 'has-error': userForm.number.$touched , 'has-success' : userForm.number.$valid}">
                                            <span>Altura</span>
                                            <input type="text" name="number" ng-model="provider.number" class="form-control input-lg" ng-pattern="onlyNumbers" ng-required="true">
                                            <div class="help-block" ng-messages="userForm.number.$error" ng-if="userForm.number.$touched">
                                                <p ng-message="required">Altura requerida.</p>
                                                <p ng-message="pattern">Altura incorrecta.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 form-group bg-dangerr">
                                            <span>Foto</span>
                                            <div class="input-group">
                                                <label class="input-group-btn">
                                                    <span class="btn btn-default">
                                                        Selecciona <input type="file" ng-model="file" name="file" id="file" max-size=7168 style="display: none;" accept="image/png,image/jpg,image/jpeg">
                                                    </span>
                                                </label>
                                                <input type="text" class="form-control" readonly>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!-- Campo contraseña <-->
                                        <div class="col-xs-12 col-sm-6 form-group " ng-class="{'has-error': userForm.password.$touched &&  userForm.password.$invalid, 'has-success': userForm.password.$valid}">
                                            <span>Contrase&ntilde;a</span>
                                            <input type="password" name="password" ng-model-options="{ updateOn: 'keyup' }"  password-validation="provider.passwordConfirmation" class="form-control input-lg immediate-help" ng-model="provider.password" ng-pattern="passwordRegex"ng-required="true">
                                            <div class="input-help">
                                                <h4>La contraseña debe tener:</h4>
                                                <ul>
                                                    <li ng-class="pwdValidLength">Al menos <strong>8 caracteres</strong></li>
                                                    <li ng-class="pwdHasLetter">Al menos <strong>una letra</strong></li>
                                                    <li ng-class="pwdHasNumber">Al menos <strong>un número</strong></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Campo confirmar contraseña <-->
                                        <div class="col-xs-12 col-sm-6 form-group" ng-class="{'has-error': userForm.passwordConfirmation.$touched &&  userForm.passwordConfirmation.$invalid, 'has-success': userForm.passwordConfirmation.$valid}">
                                            <span>Confirmar contrase&ntilde;a</span>
                                                <input type="password" name="passwordConfirmation" id="pw1" class="form-control input-lg"
                                                       ng-model="provider.passwordConfirmation" ng-required="true">
                                            <div class="help-block"  ng-messages="userForm.passwordConfirmation.$error" ng-if="userForm.passwordConfirmation.$touched">
                                                <p ng-message="required">Repite la contraseña</p>
                                                <p ng-message="noMatch">Las contraseñas no coinciden</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!-- Checkbox terminos y condiciones <-->

                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <no-captcha
                                                g-recaptcha-response="validUser"
                                                theme='light'
                                                control="noCaptchaControl"
                                                site-key="6LeSDiYTAAAAABQruX0OSfDkNFLVOsRzuF3s3QKU">
                                            </no-captcha>
                                        </div>

                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <span class="button-checkbox">
                                                <input type="checkbox" ng-model-options="{ updateOn: 'click' }" ng-model="provider.accept" value="Acepto">Acepto <a href="#/terminos" target="_blank"> Términos y condiciones</a>
                                            </span>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <br>
                                        <div class="col-xs-12"><button type="submit" ng-disabled="userForm.$invalid || !provider.accept || validUser == ''" class="btn button-1 logo-color-bg btn-block btn-lg center">Registrarse</button></div>
                                    </div>
                                      <!--<div class="col-md-12">-->
                                        <!--<h3 class="text-center ">O registrate con <a class="btn btn-fb" href="">Facebook</a></h3>-->
                                      <!--</div>-->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Ventana Nuevo trabajo -->
            <div ng-show="createWork && !confirmation || $root.idUser != null">
                <div>
                    <div class="modal-header">
                        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>-->
                      <div class="col-md-12 modal-title modal-label col-md-12" ng-hide="$root.idUser != null">
                        <div class="col-md-2">
                        <button class="btn button-1 logo-color-bg col-md-1" ng-click="back()"><i class="glyphicon glyphicon-share-alt">  </i> Volver</button>
                        </div>
                        <div class=" col-md-9 tex-center">
                          <div class="col-md-12">
                            <div class="col-md-3">
                              <a href="" type="button" class="btn btn-primary btn-circle">1</a>
                              <hr/>
                              <div class="col-md-12">  <small>Regístrate</small></div>
                            </div>
                            <div class="col-md-4 text-center" >
                              <a href="" type="button" class="btn btn-primary btn-circle" >2</a>
                              <hr/>
                              <div class="col-md-12" ><small><b>Cargá tu trabajo</b></small></div>
                            </div>
                            <div class="col-md-4">
                              <a href="" type="button" class="btn btn-primary btn-circle" disabled="disabled">3</a>
                              <hr/>
                              <div class="col-md-12"> <small>Confirmación</small></div>
                            </div>
                          </div>
                        </div>

                      </div>
                        <!--<div class="col-md-12 modal-title modal-label col-md-12">-->
                            <!--<div class="col-md-8 col-md-offset-2">-->
                                <!--<h4 class="modal-title modal-label"> Cuéntanos de tu trabajo</h4>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                    <div class="modal-body" ng-hide="confirmation ">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                                <!-- Formulario workForm -->
                                <form role="form" name="workForm"  ng-submit="saveWork()" ng-model-options="{ updateOn: 'blur' }">
                                  <!--<h4 class="modal-title modal-label"> Cuéntanos de tu trabajo</h4>-->
                                    <h3><b ng-show="$root.idUser == null">Házte conocido!</b><b ng-show="$root.idUser != null">Agrega un servicio!</b> <div class="small"><h4>Por favor, completa los siguientes campos de información laboral.</h4></div></h3>

                                    <div class="row">
                                        <!-- Campo categoria -->
                                        <div class="col-xs-12 col-sm-6 form-group" ng-class="{ 'has-error': workForm.category.$touched , 'has-success' : workForm.category.$valid}">
                                            <span>Categoría</span>
                                            <select class="form-control input-lg" name="category" ng-model="work.category" required ng-options="cat.name for cat in categories track by cat.id">
                                              <option value="">Seleccione una</option>
                                            </select>
                                            <div class="help-block" ng-messages="workForm.category.$error" ng-if="workForm.category.$touched">
                                                <p ng-message="required">Categoría requerida</p>
                                            </div>
                                        </div>

                                        <!-- Campo nombre <-->
                                        <div class="col-xs-12 col-sm-6 form-group " ng-class="{ 'has-error': workForm.name.$touched && workForm.name.$invalid, 'has-success' : workForm.name.$valid}"  >
                                            <span>Nombre</span>
                                            <input type="text" name="name"  class="form-control input-lg" ng-minlength="2" ng-model="work.name"  ng-pattern="onlyChar" ng-required="true" >
                                            <div class="help-block" ng-messages="workForm.name.$error" ng-if="workForm.name.$touched">
                                                <p ng-message="minlength">El nombre es muy corto.</p>
                                                <p ng-message="required">Ingrese un nombre</p>
                                                <p ng-message="pattern">No se admiten números ni caracteres especiales.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!-- Campo descripcion -->
                                        <div class="col-xs-12 col-sm-12 form-group " ng-class="{ 'has-error': workForm.description.$touched && workForm.description.$invalid, 'has-success' : workForm.description.$valid}"  >
                                            <span>Descripción (200 caracteres)</span>
                                            <textarea name="description" maxlength="200" class="form-control input-lg" rows="4" ng-model="work.description" ng-required="true"> </textarea>
                                            <div class="help-block" ng-messages="workForm.description.$error" ng-if="workForm.description.$touched">
                                                <p ng-message="required">Ingrese una descripción</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!-- Campo precio <-->
                                        <div class="col-xs-12 col-sm-6 form-group " ng-class="{ 'has-error': workForm.price.$touched && workForm.price.$invalid, 'has-success' : workForm.price.$valid}"  >
                                            <span>Precio desde</span>
                                            <input type="text" name="price"  class="form-control input-lg" ng-model="work.price"  ng-pattern="onlyNumbers" ng-required="true" >
                                            <div class="help-block" ng-messages="workForm.price.$error" ng-if="workForm.price.$touched">
                                                <p ng-message="required">Ingrese un precio</p>
                                                <p ng-message="pattern">No se admiten letras ni caracteres especiales.</p>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-6 form-group">
                                            <span>Localidad laboral</span>
                                            <select class="form-control input-lg" name="district" ng-model="replicate" required>
                                                <option value="">Seleccione una</option>
                                                <option value="1">No tengo dirección laboral</option>
                                                <option value="2">Dirección de residencia</option>
                                                <option value="3">Nueva dirección</option>
                                            </select>
                                        </div>


                                    </div>

                                    <div class="row" ng-show="replicate  == '3'">
                                      <!-- Campo localidad -->
                                      <div class="col-xs-12 col-sm-6 form-group" ng-show="replicate == '3'">
                                        <span>Localidad laboral</span>
                                        <select class="form-control input-lg" name="district" ng-model="work.district" ng-options="zona.name for zona in zonas track by zona.id">
                                          <option value="">Seleccione una</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="row" ng-show="replicate  == '3'">
                                        <!-- Campo calle -->
                                        <div class="col-xs-12 col-sm-6 form-group bg-dangerr"  ng-class="{ 'has-error': workForm.street.$invalid}">
                                            <span>Calle laboral</span>
                                            <input type="text" name="street" ng-model="work.street" class="form-control input-lg" ng-pattern="street">
                                            <div class="help-block" ng-messages="workForm.street.$error" ng-if="workForm.street.$touched">
                                                <p ng-message="pattern">Calle incorrecta.</p>
                                            </div>
                                        </div>

                                        <!-- Campo numero -->
                                        <div class="col-xs-12 col-sm-6 form-group bg-dangerr"  ng-class="{ 'has-error': workForm.number.$invalid}">
                                            <span>Altura laboral</span>
                                            <input type="text" name="number" ng-model="work.number" class="form-control input-lg" ng-pattern="onlyNumbers">
                                            <div class="help-block" ng-messages="workForm.number.$error" ng-if="workForm.number.$touched">
                                                <p ng-message="pattern">Altura incorrecta.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <br>
                                        <div class="col-xs-12"><button type="submit" ng-disabled="workForm.$invalid" class="btn button-1 logo-color-bg btn-block btn-lg center">Publicar</button></div>
                                    </div>

                                        <!--<div class="row" ng-hide="userRegister">-->
                                        <!--&lt;!&ndash; Campo area de cobertura &ndash;&gt;-->
                                        <!--<div class="col-xs-12 form-group" ng-class="{ 'has-error': userForm.area.$pristine && userForm.area.$invalid, 'has-success' : userForm.area.$valid}">-->
                                        <!--<span>Elija la/las zona de cobertura:</span>-->
                                        <!--<select  name="area" id="area" ng-model="provider.area" ng-required="userProveedor" class=" form-control col-md-12" multiple="true" ng-options="zona.name for zona in zonas track by zona.idDistrict">-->
                                        <!--</select>-->
                                        <!--<br>-->
                                        <!--<div class="input-help">-->
                                        <!--<h4>Agrega aquellas zonas en las que puedas desempeñar tus servicios.</h4>-->
                                        <!--</div>-->
                                        <!--<div class="help-block" ng-messages="userForm.area.$error" ng-if="userForm.area.$touched">-->
                                        <!--<p ng-message="required">Area de cobertura requerida.</p>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           <div ng-show="confirmation">
             <div class="modal-header" ng-hide ="$root.idUser != null">
               <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>-->
               <div class="col-md-12 modal-title modal-label col-md-12">
                 <div class="col-md-2">
                 <button class="btn button-1 logo-color-bg col-md-1" ng-click="back()"><i class="glyphicon glyphicon-share-alt">  </i> Volver</button>
                  </div>
                 <div class=" col-md-9 text-center">
                   <div class="col-md-12">
                     <div class="col-md-3" ng-show="userProveedor">
                       <a href="" type="button" class="btn btn-primary btn-circle">1</a>
                       <hr/>
                       <div class="col-md-12">  <small>Regístrate</small></div>
                     </div>
                     <div class="col-md-3 col-md-offset-2" ng-show="userRegister">
                       <a href="" type="button" class="btn btn-primary btn-circle">1</a>
                       <hr/>
                       <div class="col-md-12">  <small>Regístrate </small></div>
                     </div>
                     <div class="col-md-4 text-center" ng-show="userProveedor">
                       <a href="" type="button" class="btn btn-primary btn-circle"  >2</a>
                       <hr/>
                       <div class="col-md-12" ><small>Cargá tu trabajo</small></div>
                     </div>
                     <div class="col-md-4" ng-show="userRegister">
                       <a href="" type="button" class="btn btn-primary btn-circle" >2</a>
                       <hr/>
                       <div class="col-md-12"> <small><b>Confirmación</b></small></div>
                     </div>
                     <div class="col-md-4" ng-show="userProveedor">
                       <a href="" type="button" class="btn btn-primary btn-circle">3</a>
                       <hr/>
                       <div class="col-md-12"> <small><b>Confirmación</b></small></div>
                     </div>
                   </div>
                 </div>
                 <!--<div class="col-md-8 col-md-offset-1">-->
                 <!--<h4 class="modal-title modal-label"> Registro {{userRegister == true ? "usuario" : "proveedor" }}</h4>-->
                 <!--</div>-->
               </div>
             </div>
             <div class="modal-body">

               <!--Mensaje servicio agregado-->
              <div class="col-md-12 text-center" ng-show="$root.idUser != null">

                <h3>Has agregado el servicio correctamente!</h3>
                <img class="icon-works" src="images/briefcase.png" alt="">
                <h4>Podrás visualizar el nuevo servicio agregado en tu perfil</h4>
                 <a class="btn logo-color-bg profile-btn" href="/#/perfil/{{$root.idUser}}">Volver a Mi Perfil</a></p>
              </div>

               <div class="row" ng-show="$root.idUser == null">
                 <div class="col-xs-7 col-sm-8 col-md-6 col-sm-offset-1 col-md-offset-1 ">
                   <h3 style="color: #2f3a4c;"> <b>HAS REGISTRADO TUS DATOS EXITOSAMENTE! </b></h3>
                   <h4 ng-show="userProveedor" class="text-success">Felicitaciones! Te has convertido en usuario PREMIUM por un mes!</h4>
                   <p class="col-md-12">Tus datos registrados:</p>
                   <div class="col-xs-12 col-sm-8 col-md-12 margin-md-1">
                    <div><b>Nombre y Apellido :</b> {{provider.name}} {{provider.surname}}</div>
                    <div><b>Email :</b> {{provider.email}} </div>
                    <div ng-show="userProveedor"><b>Servicio :</b> {{work.name}}</div>
                    <div ng-show="userProveedor"><b>Descripci&oacute;n de servicio :</b> {{work.description}} </div>
                   </div>
                   <div>
                     <div class="col-md-12">Ahora puedes ingresar al sitio con tu email y contraseña.</div>
                     <br>
                     <div class="col-md-4">
                       <a type="button" class="btn button-1 logo-color-bg col-md-2 " ng-href="/#/login">Inicia sesión</a>
                     </div>
                   </div>

                   </div>
                   <div class="col-xs-4 col-sm-2 col-md-4">
                     <img ng-show="userRegister" class="images-register center" src="images/userr.png" alt="">
                     <img ng-show="userProveedor"  class="images-register center " src="images/worker.png" alt="">
                   </div>
                 </div>
             </div>
           </div>
        </div>

    </section>
<footer-dutymap></footer-dutymap>
