
<!-- Header -->
<header id="top" class="header-secondary">


  <h1 class="brand">Dutymap</h1>
  <h2 class="text-center paragraph noselect logo-color-bg">Profesores particulares en La Matanza</h2>

</header>
<div ng-controller="ServiceCtrl">
  <div id="map"></div>
</div>

<br><br>

<section>
  <h2 class="text-center paragraph noselect">Los más destacados</h2>
  <div class="container-fluid">

    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="flip-container padding" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="row">
            <div class="front">
              <p class="text-center"><img class="img-circle" src="https://pbs.twimg.com/profile_images/600061604319887360/PqDUDBEt.jpg" alt=""> </p>
              <h2> <p class="text-center">Franco Montán</p></h2>
              <hr>
              <h3><p class="text-center">tipo de servicio</p> </h3>
              <h4><p class="text-center">frase</p></h4>
              <p class="text-right"> <img class="marker" src="images/map-marker.png" alt="localidad">Morón</p>

              <!-- front content -->
            </div>


            <div class="back">
              <div class="text-center">
                <button class="btn btn-info profile">Ver perfil</button>
              </div>

              <hr>
              <h3 class="text-center">Descripción del trabajo</h3>

              <br>
              <br>
              <br>
              <div>
                <h3><p class="text-center">Trabajos concretados</p> </h3>
                <h2 class="text-center">36</h2>
                <div class="text-center">
                  <button class="btn btn-info hire">Contactar</button>

                </div>
                <!-- back content -->
              </div>
            </div>

          </div>

        </div>
      </div>


    </div>

    <div class="col-md-4">


      <div class="flip-container padding" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">

          <div class="row">
            <div class="front">
              <p class="text-center"><img class="img-circle" src="https://pbs.twimg.com/profile_images/600061604319887360/PqDUDBEt.jpg" alt=""> </p>
              <h2> <p class="text-center">Franco Montán</p></h2>
              <hr>
              <h3><p class="text-center">tipo de servicio</p> </h3>
              <h4><p class="text-center">frase</p></h4>
              <p class="text-right"> <img class="marker" src="images/map-marker.png" alt="localidad">Morón</p>

              <!-- front content -->
            </div>


            <div class="back">
              <div class="text-center">
                <button class="btn btn-info profile">Ver perfil</button>
              </div>

              <hr>
              <h3 class="text-center">Descripción del trabajo</h3>

              <br>
              <br>
              <br>
              <div>
                <h3><p class="text-center">Trabajos concretados</p> </h3>
                <h2 class="text-center">36</h2>
                <div class="text-center">
                  <button class="btn btn-info hire">Contactar</button>

                </div>
                <!-- back content -->
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>

    <div class="col-md-4">

      <div class="flip-container padding" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">

          <div class="row">
            <div class="front">
              <p class="text-center"><img class="img-circle" src="https://pbs.twimg.com/profile_images/600061604319887360/PqDUDBEt.jpg" alt=""> </p>
              <h2> <p class="text-center">Franco Montán</p></h2>
              <hr>
              <h3><p class="text-center">tipo de servicio</p> </h3>
              <h4><p class="text-center">frase</p></h4>
              <p class="text-right"> <img class="marker" src="images/map-marker.png" alt="localidad">Morón</p>

              <!-- front content -->
            </div>


            <div class="back">
              <div class="text-center">
                <button class="btn btn-info profile">Ver perfil</button>
              </div>

              <hr>
              <h3 class="text-center">Descripción del trabajo</h3>

              <br>
              <br>
              <br>
              <div>
                <h3><p class="text-center">Trabajos concretados</p> </h3>
                <h2 class="text-center">36</h2>
                <div class="text-center">
                  <button class="btn btn-info hire">Contactar</button>

                </div>
                <!-- back content -->
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>


  </div>
  <hr>

  <div class="container-fluid">

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-left">
      <p>nav filtros</p>
    </div>

    <div class="col-xs-10 col-md-10 block ">
      <div class="col-xs-3 col-md-2">
        <p class="text-center"><img class="img-circle" src="https://pbs.twimg.com/profile_images/600061604319887360/PqDUDBEt.jpg" alt=""> </p>
      </div>
      <div class="col-xs-6 col-md-7">

        <h3 class="provider-name">Franco Montán</h3>
        <h4 class="premium noselect">Premium</h4>
        <p class=""> <img class="marker" src="images/map-marker.png" alt="">La Matanza</p>
        <h4>Profesor particular de matemática</h4>
        <p>Me dedico a enseñar matemática de primaria y secundaria</p>
      </div>

      <div class="col-xs-3 col-md-3">
        <p>Valoración</p>
        <p>Trabajos concretados: <span class="completed-work">32</span></p>
        <p>$100 /hr</p>

        <button class="btn btn-info remark logo-color-bg">Contactar</button>
        <button class="btn btn-info remark logo-color-bg">Ver perfil</button>

      </div>
    </div>

    <div class="col-xs-10 col-md-10 block ">
      <div class="col-xs-3 col-md-2">
        <p class="text-center"><img class="img-circle" src="https://pbs.twimg.com/profile_images/600061604319887360/PqDUDBEt.jpg" alt=""> </p>
      </div>
      <div class="col-xs-6 col-md-7">

        <h3 class="provider-name">Franco Montán</h3>
        <p class=""> <img class="marker" src="images/map-marker.png" alt="">La Matanza</p>
        <h4>Profesor particular de matemática</h4>
        <p>Me dedico a enseñar matemática de primaria y secundaria</p>
      </div>

      <div class="col-xs-3 col-md-3 pull-right">
        <p>Valoración</p>
        <p>Trabajos concretados: <span class="completed-work">32</span></p>
        <p>$100 /hr</p>
        <button class="btn btn-info remark logo-color-bg">Contactar</button>
        <button class="btn btn-info remark logo-color-bg">Ver perfil</button>
      </div>
    </div>

    <div class="col-xs-10 col-md-10 block ">
      <div class="col-xs-3 col-md-2">
        <p class="text-center"><img class="img-circle" src="https://pbs.twimg.com/profile_images/600061604319887360/PqDUDBEt.jpg" alt=""> </p>
      </div>

      <div class="col-xs-6 col-md-7">
        <h3 class="provider-name">Franco Montán</h3>
        <p class=""> <img class="marker"src="images/map-marker.png" alt="">La Matanza</p>
        <h4>Profesor particular de matemática</h4>
        <p>Me dedico a enseñar matemática de primaria y secundaria</p>
      </div>

      <div class="col-xs-3 col-md-3">
        <p>Valoración</p>
        <p>Trabajos concretados: <span class="completed-work">32</span></p>
        <p>$100 /hr</p>
        <button class="btn btn-info remark logo-color-bg">Contactar</button>
        <button class="btn btn-info remark logo-color-bg">Ver perfil</button>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">

      <ul class="pagination pagination-lg ">
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
      </ul>
    </div>
  </div>

</div>

