@import "variables";
footer{
  background-color: $footer-color;
  color: white;
}

.footer-margin{

  margin-top: 2%;
}

.footer-sub-nav{
  text-align: left;
}

.footer-sub-nav-item a{
  color:white;
}

.footer-sub-nav-item  a:hover{
  color: white;
}

.homepage-footer-button{
  color:white !important;

}

.social-networks i {
  font-size: 25px;
}

.footer-title{
  font-size:20px;
}

.footer-sub-nav li {
  list-style-type: none;
}

.footer-logo{
  width: 400px;
  margin-top:2%;
  margin-bottom:2%;
}

.rowFooter:hover a:before{
  content: "\f105"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
