@import "variables";
footer{
  background-color: $background-blue;
  color: white;
}

.footer-margin{

  margin-top: 2%;
}
.footer-sub-nav-item a{
  color:white;
}
.footer-sub-nav-item  a:hover{
  color: white;
}
