@import "variables";
footer{
  background-color: $background-blue;
  color: white;
}

.footer-margin{

  margin-top: 2%;
}
.footer-sub-nav-item a{
  color:white;

}
.footer-sub-nav-item  a:hover{
  color: white;
}
.homepage-footer-button{
  color:white !important;

}

.social-networks i {
  font-size: 25px;
}

.social-networks i:hover {
  color: #336699;
}

.footer-title{
  font-size:20px;
}

.footer-sub-nav li {
  list-style-type: none;
}

.footer-logo{
  margin-top:2%;
  margin-bottom:2%;
  width:25%;
}

