@import "variables";
@import "profile";
@import "login";
@import "register";
@import "service";
@import "footer";
@import "directives/navbar-home";
@import "directives/navbar-secondary";
@import "faq";
@import "about";
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

  /*searchbox*/

  .stylish-input-group .input-group-addon{
    background: white !important;
  }
  .stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
    width:100%;
  }
  .stylish-input-group button{
    border:0;
    background:transparent;
  }
  .nopadding{
    padding: 0 !important;
  }
  /*Home.html*/


.logo-color-bg{
  background-color: $background-blue;
  color: white;
  transition: all 0.5s ease
}
.logo-color{
  color: $background-blue;
}
.logo{
  width: 40%;
  height: 40%;
}

.background{
  background-color:$background-grey;
  //background: url('../images/Pin-Map2.jpg') no-repeat center center fixed;
  background: url('../images/pin-map-tranchi.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
  .img-size{
    height: 70px;
  }

  .paragraph{
    font-size: 30px;
    font-family:  Georgia, Serif;
  }

  .subparagraph{
    font-size: 18px;
    font-family:  Georgia, Serif;
  }

  .title-menu-landing{

    font-size: 38px;
    text-align: center;
  }

.searchbox{
  width: 30%;
  height: 12%;
  border: 3px solid #ccc;
  font-size: 22px;
  vertical-align: middle;
}
.searchbox:hover{
  border:3px solid $background-blue;
}

  .brand{
    margin-left: 3%;
  }

  .circular {
    width: 100px;
    height: 100px;
  }

/*Profile.html*/
.provider-name{
  color:$background-blue;
}

.pagination>.active>a{
  background-color:$background-blue;
}

  .experience-name{
    color: black;
    font-size:15px;
  }

  .experience-title{
    color: black;
    font-size:17px;
  }

  .service-icon{
    width: 50px;
    height: 55px;
    position: relative;
    margin-bottom: 19px;
  }

  .full-height {
    height:100%;
  }
.background-busqueda{
  color:white;
}
  .button-header{
    margin-top: 70px;
  }

.presentation-card{
  margin-top: 1px solid $background-blue;
}

.bar-user{
  background-color: $background-blue;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin:0;
}
.second-background{
  background-color: $background-grey;
}
.about-title{
  font-weight: 700;
}

  .image-profile{
    margin-top: 30px;
  }

  .rating>p>img{
    width: 20px;
    height: 20px;
  }

  .rating>img{
    float: left;
    height: 15px;
    width:15px;
  }

  .profile-rating>p>img{
    height: 25px;
    width:25px;
    margin-left: auto;
    margin-right: auto;
  }

  .positive{
    color: darkgreen;
  }

  .neutral{
    color: grey;
  }

  .negative{
    color: red;
  }

/*Experiencias*/
.widget-header {
  min-height: 125px;
  position: relative;
  overflow: hidden;
}
.bg-primary{
  background-color: $background-blue;


  }
  .panel {
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.075);
    border-radius: 0;
    border: 0;
    margin-bottom: 24px;
  }
  .panel .panel-heading, .panel>:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .widget-body {
    padding: 50px 15px 15px;
    position: relative;
  }
  .img-border {
    box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
    border: 1px solid white;
  }
  .widget-img {
    position: absolute;
    //width: 41%;
    height: 83%;
    left: 42%;
    margin-left: -32px;
    top: -55px;
  }
.margin-1{
  margin:3%;
}

.title{
  font-size:20px;
  color: $background-blue;
}

.description{
  font-size: 15px;
}

  @media only screen and (min-width: 990px){
    .question-center{
      margin-top: 100px;
    }
  }

  @media only screen and (min-width: 761px){

    .normal-screen >hr{
      border: 1px solid white

    }
    .minimal-screen{
      border: none;
    }
  }

  @media only screen and (max-width:760px){

    .normal-screen{
      border: none;
    }

    .minimal-screen{
      border: 1px solid white;

    }
  }


  @media only screen and (max-width:420px){
    .hidden-works{
      display: none;
    }

  }

  @media only screen and (max-width:550px){
    .navbar-margin ul a{
      display: block;
    }

  }

