@import "variables";
.resume{
  font-family: $font-stack;
  color: $font-color;
  background-color: $background-grey;
  padding: 0;
  height:100%;

  .module-main{
    background-color: $background-blue;
    color: lightgrey;
    height: 100%;
  }

  .module-size{
    width: 45%;
    margin:2%;
    display: inline-block;
  }

  .module{
    border:5px solid $border-grey;
    background-color: white;
    @extend .module-size;

    .fa{
      margin-left: 0.5em;
    }
  }

  .module-work{
    @extend .module;
    &:hover{
      background-color: $background-module-hover;
      color: white;
      cursor: pointer;
    }
  }

  .info-block-module{
    width: 94%;
    margin:2%;
  }
}

.img-circle{
  width:120px;
  height: 120px;
}

.box-info{
  height: 6em;
}

.info-block{
  height: 11em;
  display: inline-block;
}

.total-jobs{
  @extend .info-block;
  background-color: red;
}

.other{
  @extend .info-block;
  background-color: blue;
}

.reset-padding{
  padding: 0;
}
