@import "variables";

.resume{
  font-family: $font-stack;
  color: $font-color;
  background-color: $background-grey;
  padding: 0;
  display: flex; display: -webkit-flex; display: flex;


  .module-main{
    background-color: $background-blue-side;
    color: lightgrey;
    color: lightgrey;
    flex:1;
    display: table-cell;
  }

  .module-size{
    width: 45%;
    margin:2%;
    display: inline-block;
  }

  .module{
    border:5px solid $border-grey;
    background-color: white;
    @extend .module-size;

    .fa{
      margin-left: 0.5em;
    }
  }

  .module-info{
    height: 12em;
    border:5px solid #b3e5fc;
    background-color: #b3e5fc;
    @extend .module-size;
  }

  .module-work{
    height: 15em;
    @extend .module;
    &:hover{
      background-color: $background-module-hover;
      color: white;
      cursor: pointer;
    }
  }

}

.img-circle{
  width:120px;
  height: 120px;
}

.box-info{
  height: 6em;
}

.info-block{
  height: 11em;
  display: inline-block;
}

.total-jobs{
  @extend .info-block;
  background-color: red;
}

.other{
  @extend .info-block;
  background-color: blue;
}

.reset-padding{
  padding: 0;
}

.gold{
  color: gold;
}


.nav-tabs> li{
  cursor:pointer;
}

#settings{
  font-size:17px;
}


.profile-btn-T{
  transition: all 0.5s ease;
  height: 50%;
  width:150px;
  margin-bottom: 10%;
  display:block;
}

.profile-btn-T:hover{
  color: white;
  background-color: #3A598D;

}

.qualify{
  color: white;
  background-color: #c8582f;
  transition: all 0.5s ease;
}

.qualify:hover{
  color:white;
  background-color: orangered;
  transition: all 0.5s ease;
}
.padding-tam-1 {
  padding: 2%;
}
.blue{
  color: #2F3A4C;
}

.state-message{
  margin-bottom:20px;
  display:block;
}

.btn-agreement{
  color: white;
  background-color: #01867C;
  transition: all 0.5s ease;
}


.btn-agreement:hover{
  color: white;
  background-color: #03AB9E;
  transition: all 0.5s ease;

}
