@import "variables";

.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #21568b;
}
.star-rating{
  font-size: 25px;
}
.letter-1{
  font-size: 15px;
}
.formqualify {
  border: 5px solid #E5E5E5;
  background-color: white;
  margin: 1%;
  display: inline-block;
  width:90%;
}
.click-rating{
  margin-top:15%;
}

