
.divider{
  border-right:1px solid #336699;
}

.images-register{
  width: 150px;
  height:150px;
  display: block;
}

.register-button{
  height: 50%;
  width:150px;
  margin-top: 10%;
  display: block;
  transition: all 0.5s ease

}

.user-type{
  padding-bottom: 7%;
}

//
.modal-label{
  text-align: center;
  color:$background-blue;
  font-size: 30px;
}
