$font-stack: 'Muli', sans-serif;

/* COLORS */
$background-grey: #F0F2F5;
$background-blue: #2F3A4C;
$background-blue-side: #13161d;
$border-grey: #E5E5E5;
$font-color: #999999;
$background-module-hover: #1b6d85;
$servimap-blue: #3A598F;
$header-secondary: #0289CB;


/* MIXINGS */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
