$font-stack: 'Muli', sans-serif;

/* COLORS */
$background-grey: #F0F2F5;
$background-blue: #2F3A4C;
$background-blue-side: #13161d;
$border-grey: #E5E5E5;
$font-color: #999999;
$background-module-hover: #144a66;
$servimap-blue: #3A598F;
$header-secondary: #137cb0;
$footer-color: #002040;
$blue-power: #002040;
$blue-light: #0289CB;
$profile-color: #144a66;

  /* MIXINGS */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
