@import "variables";
@import "profile";

.works-modules{
    background-color: $background-grey;
}

.sidebar-filter{
    background-color: $background-blue-side;
    color: lightgrey;
    flex:1;
}

.mouse-pointer{
  cursor: pointer;
}

.not-found{
  margin: 10% 0 20% 0;
}

.card-margin{
  margin: 1% 0;
}

.hire-btn:hover{
  background-color: #5bae5b;
  transition: all 0.5s ease;
  color:white;
}
.hire-btn{
  background-color: #388038 ;
  transition: all 0.5s ease;
  color:white;
}


