@import "variables";
@import "profile";

.works-modules{
    background-color: $background-grey;
}

.sidebar-filter{
    background-color: $profile-color;
    color: lightgrey;
    flex:1;
}

.mouse-pointer{
  cursor: pointer;
  > a {
    color: white;
  }
}

.not-found{
  margin: 10% 0 20% 0;
}

.card-margin{
  margin: 1% 0;
}

.hire-btn:hover{
  background-color: #5bae5b;
  transition: all 0.5s ease;
  color:white;
}
.hire-btn{
  background-color: #388038 ;
  transition: all 0.5s ease;
  color:white;
}

.separator {
  height: 85px;
}

.box-center{
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  min-height: 700px;
}
