@import "variables";
@import "profile";

.works-modules{
    background-color: $background-grey;
}

.sidebar-filter{
    background-color: $background-blue-side;
    color: lightgrey;
    flex:1;
}

.mouse-pointer{
  cursor: pointer;
}
