@import "../variables";
//nav 2

#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
  font-size:12px
}
#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}
#login-dp .social-buttons{
  margin:12px 0
}
#login-dp .social-buttons a{
  width: 49%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb{
  color: #fff;
  background-color:#3b5998;
}
.btn-fb:hover{
  color: #fff;
  background-color:#496ebc
}
.btn-tw{
  color: #fff;
  background-color:#55acee;
}
.btn-tw:hover{
  color: #fff;
  background-color:#59b5fa;
}

.navbar-search{
  width:100% !important;
}

.navbar-width{
  width:100%;
}
.navbar-font{
  font-size:18px;
  font-family: Helvetica;
}

.navbar2-margin{
  margin-top:25px;
}
.navbar-search-border{
  border-left:1px solid grey !important;
}

.navbar-secondary {
  background-color:$background-blue;
  border-color:transparent;
}

.navbar-secondary li a:hover{
  font-style: italic;
}
.navbar-secondary-title{
  color:white !important;
}
.navbar-secondary-title:focus{
  background-color: black !important;
}


@media(max-width:768px){
  #login-dp{
    background-color: inherit;
    color: #fff;
  }
  #login-dp .bottom{
    background-color: inherit;
    border-top:0 none;
  }
}
