@import "../variables";
.navbar-search-border{
  border-left:1px solid grey !important;
}

.navbar-secondary {
  background-color: $header-secondary;
  border-color:transparent;
  border-radius:0px;
  margin-bottom:0px;
  padding: 0.6em;
  height: 85px;
}

.navbar-secondary-title:hover{
  cursor: pointer;
  border-radius: 1px;
  border: 1px solid #3597c7a6;
  background-color: #2c2f3017;
  opacity: 0.95;
  color: white;
}

.navbar-secondary-title{
  color:white !important;
  font-size: 20px;
  font-weight: bold;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: black !important;
}

.navbar-margin{
  margin-top:15px;
}

.collapsed{
  margin-top:20px;
  background-color: white;
}
.navbar-logo{
   width: 190px;
}

.boxCenter{
  justify-content: center;
  display: flex;
}

.padding-top{
  padding-top: 0.5em;
}

