<footer>
  <div class="container-fluid">
    <div>
      <div>
          <div class="col-md-offset-2 col-xs-12 col-md-8 text-center">
            <div class="homepage-footer-share-buttons"> <a href="https://www.facebook.com/Infobae/" target="_blank" class="homepage-footer-button" ></a>


              <a href="/#/"><img  class="footer-logo" src="../../images/servimapLogo.png" alt="logo"></a>

              <div class="col-md-12 col-xs-12 social-networks">

                <a href="/#/" class="homepage-footer-button" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
                <a href="/#/" class="homepage-footer-button" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> </a>
                <a href="/#/" class="homepage-footer-button " target="_blank"><i class="fa fa-rss" aria-hidden="true"></i> </a>
                <a href="/#/" class="homepage-footer-button" target="_blank"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
                <a href="/#/" class="homepage-footer-button " target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i> </a>
              </div>
            </div>
            <hr/>
          </div>
      </div>
      </div>
    </div>
</footer>
