<nav class="navbar navbar-default  navbar-fixed navbar-secondary" role="navigation">
  <div class="col-md-12 col-xs-12 boxCenter">
  <div class="container-fluid col-md-12 col-xs-12">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="col-sm-3 padding-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dropdownMenu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a href="/#/"><img class="navbar-logo" src="images/servimapWhiteAll.png" alt="logo"></a>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="collapse navbar-collapse navbar-margin" id="dropdownMenu">
        <div class="col-sm-4">
            <form class="navbar-form navbar-left navbar-width " role="search">
                <div class="form-group navbar-width " style="padding-top: 0.1em">
                    <div class="input-group stylish-input-group navbar-width ">
                        <input type="text" class="form-control navbar-search navbar-width" placeholder="Buscar servicios" ng-model="toFind">
                        <a class="input-group-addon navbar-search-border" ng-href="/#/servicio/{{toFind}}">
                          <button type="submit">
                            <span class="glyphicon glyphicon-search "></span>
                          </button>
                        </a>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-5">
            <ul class="nav navbar-nav navbar-right" style="padding-top: 0.1em">
                <li ng-hide="authenticated"><a href="/#/registro" class="navbar-secondary-title">Registrarse</a></li>
                <li ng-show="authenticated"><a href="#/perfil/{{$root.idUser}}" class="navbar-secondary-title">Mi Perfil</a></li>
                <li ng-show="authenticated"><a class="navbar-secondary-title" ng-click="logout()">Cerrar sesión</a></li>
                <li ng-hide="authenticated"><a  class="navbar-secondary-title" ng-href="/#/login"><b>Iniciar Sesión</b></a></li>
            </ul>
        </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
    </div>
</nav>
