
<div class="text-center module-main col-xs-12 col-md-3 profile-inner">
  <p class="text-center image-profile">
    <img class="img-circle" ng-src="data:image/png;base64,{{user.photo}}" alt="">
  </p>

  <h2 ng-bind="user.fullName"></h2>
  <h3 ng-bind="mainWork.name"></h3>
  <h5 ng-bind="mainWork.description"></h5>

  <div class="profile-rating">
    <p class="text-center">
      <span ng-repeat="star in stars"><i class="fa fa-star gold" aria-hidden="true"></i> </span>
      <span ng-repeat="star in emptyStars"><i class="fa fa-star-o" aria-hidden="true"></i> </span>
    </p>
  </div>
  <br>

  <div class="box-info">
    <!--<div class="col-md-6">-->
      <!--7 trabajos concretados-->
    <!--</div>-->

    <div class="col-md-12 text-center" ng-show="user.type == 'proveedor'">
      Servicio / Hora <br> desde <b>${{mainWork.price}}</b>
    </div>
  </div>

  <a class="btn profile-btn logo-color-bg center" ng-if="$root.idUser != user.idUser" ng-href="/#/contratar/{{mainWork.user.idUser}}">Contratar</a>

</div >

